<h1>List of users</h1>

<%= session[:user_id] %>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>
      <th>
      Private?
    </th>

    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.id %>
    </td>

    <td>
      <%= user.username %>
    </td>
     <td>
      <% if (user.private) 
      %>

      Yes<% else %>
      No
      <%end%>
    </td>
     <td>
      <% if session[:user_id].present? %>
         <% match =  FollowRequest.where(["sender_id = ? and recipient_id = ?", session[:user_id], user.id]).length 
         if match > 0%>
          <a href="/test"> Unfollow </a>
          <% if (FollowRequest.where(["sender_id = ? and recipient_id = ?", session[:user_id], user.id]).at(0).status == "pending")
          %> Request sent 
          <a href="/test"> Cancel </a>
          <% end %>
          <% end %>
          
         <form action="/insert_follow_request" method="post" class="form-horizontal" enctype="multipart/form-data">

         <input type="hidden" id="query_sender_id" value = <%= session[:user_id] %> name="query_sender_id"">
         <input type="hidden" id="query_recipient_id" value = <%= user.id %> name="query_recipient_id">
        <input type="hidden" id="query_status" value = "True" name="query_status">


      <button>
        Follow
      </button>
    </form>
      <%end%>
    </td>

    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
  
  <% end %>
</table>